@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	height: 100vh;
}
div{
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
	text-shadow: 0px 1px 35px rgba(0, 43, 82, 0.4);
}
p{
	text-shadow: 0px 1px 35px rgba(0, 43, 82, 0.4);
}
.bold{
	font-weight: 700;
}
/*Header*/
#header{
	width: 100%;
	height: 7%;
	position: sticky;
	font-size: 27px;
	z-index: 999;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-image: url(../assets/header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	height: 100%;
	margin-left: 2rem;
    transition: .3s ease-in-out;
    @media all and (max-width: 1400px){
        margin-left: 0.5rem;
    }
    @media all and (max-width: 576px){
        margin-left: 0px;
    }
    &:hover{
	transform: scale(1.1);
    }
}

.header{
    &_cositas{
        list-style-type: none;
        display: flex;
        padding-bottom: 0px;
        width: 42%;
        justify-content: space-evenly;
        align-items: center;
        @media all and (max-width: 1400px){
            font-size: 1.3rem;
		    width: 62%;
        }
        @media all and (max-width: 992px){
		    width: 74%;
        }
        @media all and (max-width: 576px){
            font-size: 0.8rem;
		    width: 83%;
        }
        a{
            display: inline-block;
            text-decoration: none;
        }
    }
    &_hover{
        color: #AAB7B8;
        &:hover{
            color: #e8f4f5
        }
    }
}
/* Home */
.portada{
	display: inline-block;
	width: 100%;
	height: 93vh;
	background-image: url(../assets/portada2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	grid-auto-columns: 1fr;
  	grid-template-columns: 1fr 1fr;
 	grid-template-rows: 0.3fr 1.7fr;
 	grid-template-areas:
    "title title"
    "semititle trailer";
    @media all and (max-width: 992px){
        grid-template-columns: 1fr; 
  		grid-template-rows: 0.3fr 0.8fr 1.4fr; 
  		gap: 0px; 
  		grid-template-areas: 
    	"title"
    	"semititle"
    	"trailer";
    }
    @media all and (max-width: 576px){
        grid-template-columns: 1fr; 
  		grid-template-rows: 0.3fr 1.3fr 1.4fr; 
  		grid-template-areas: 
    	"title"
    	"semititle"
    	"trailer";
    }
    .ptitle{
        margin-top: 3rem;
        @media all and (max-width: 1400px){
            margin-top: 0.5rem;
        }
        @media all and (max-width: 992px){
            margin-top: 1rem;
        }
        @media all and (max-width: 576px){
            margin-top: 2rem;
        }
    }
    &_resumenTitle{
        font-size: 62px;
        font-weight: 700;
        color: white;
        text-align: center;
        @media all and (max-width: 1400px){
            font-size: 2.5rem;
        }
        @media all and (max-width: 576px){
            font-size: 2.1rem;
        }
    }
    &_resumen{
        color: #BFC9CA;
        display: flex;
        font-size: 2.2rem;
        text-align: center;
        grid-area: semititle;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 3rem;
        font-weight: 700;
        @media all and (max-width: 1400px){
            font-size: 1.8rem;
		    padding: 0px 0.5rem;
        }
        @media all and (max-width: 992px){
            font-size: 1.5rem;
		    padding: 0px 0rem;
        }
        @media all and (max-width: 576px){
            font-size: 1rem;
		    padding: 0px 1rem;
        }
    }
    &_trailer{
        display: inline-block;
        grid-area: trailer;
        padding: 13% 5%;
        @media all and (max-width: 1400px){
            width: 80%;
    	    height: 60%;
    	    padding: 15% 10%;
        }
        @media all and (max-width: 992px){
            width: 74%;
    	    height: 90%;
    	    padding: 0% 12%;
        }
        @media all and (max-width: 576px){
            width: 80%;
    	    height: 80%;
    	    padding: 0% 10%;
        }
    }
}
.ptitle{
	font-size: 5rem;
	font-weight: 700;
	color: rgb(253, 254, 254);
	text-align: center;
	grid-area: title;
	display: flex;
	align-items: center;
	justify-content: center;
    @media all and (max-width: 1400px){
        font-size: 3rem;
    }
    @media all and (max-width: 992px){
        font-size: 2.88rem;
    }
    @media all and (max-width: 576px){
        font-size: 2.5rem;
    }
}
.title{
	font-size: 5rem;
	font-weight: 700;
	color: rgb(253, 254, 254);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    @media all and (max-width: 1400px){
        font-size: 3.38rem;
    }
    @media all and (max-width: 992px){
        font-size: 1.9rem;
    }
    @media all and (max-width: 576px){
        font-size: 1.2rem;
    }
}

/*fondo de pags*/
@mixin imagenDeFondo($imagen) {
    background-image: $imagen;
    display: inline-block;
	width: 100%;
	height: 93vh;
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}
/* Pagina Clase */
.imagenDeFondo1{
    @include imagenDeFondo( url(../assets/paisaje.jpg));
    .semiTitle{
        color: #cad7d9;
        width: 40%;
    }
    .accordion-item{
        background-image: url(../assets/gameplayback.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .accordion-button{
        background-image: url(../assets/accordion2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media all and (max-width: 576px){
            padding: 10px;
        }
    }
    .accordion{
        --bs-accordion-border-color: #000;
        --bs-accordion-inner-border-radius: 0px;
        --bs-accordion-active-color:#1872f9;
        @media all and (max-width: 576px){
            min-width: 80%;
        }
    }
    img{
        max-height: 60vh;
        max-width: 41%;
    }
    .accordion .fs-6{
        font-size: 1.15rem!important;
        @media all and (max-width: 1400px){
            font-size: 1rem!important;
        }
        @media all and (max-width: 992px){
            font-size: 0.7rem!important;
        }
    }
    @media all and (max-width: 992px){
        .fs-4{
            font-size: 1rem!important;
        }
    }
    @media all and (max-width: 576px){
        img{
            max-height: 26vh;
            max-width: 65%;
        }
    }
}
.semiTitle{
	font-size: 1.56rem;
	color: rgb(27, 38, 49);
	text-align: center;
	width: 70%;
	margin: auto;
	text-align: center;
    @media all and (max-width: 1400px){
        font-size: 1.3rem;
		width: 85%;
    }
    @media all and (max-width: 992px){
        font-size: 1rem;
		width: 94%;
    }
    @media all and (max-width: 576px){
        font-size: 0.9rem;
		width: 98%;
		margin-top: 0.1rem;
    }
    &_encabezado{
        font-size: 1.9rem;
        color: rgb(27, 38, 49);
        font-weight: 700;
        text-align: center;
        @media all and (max-width: 1400px){
            font-size: 1.7rem;
        }
        @media all and (max-width: 992px){
            font-size: 1.3rem;
        }
        @media all and (max-width: 576px){
            font-size: 1.1rem;
		margin-bottom: 0;
        }
    }
}
#containerClase {
	justify-content: space-evenly;
	align-items: center;
    @media all and (max-width: 992px){
        padding-top: 2rem;
    }
    @media all and (max-width: 576px){
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* pagina de las zonas */
.imagenDeFondo2{
	@include imagenDeFondo(url(../assets/paisaje3.jpg));
    @media all and (max-width: 992px){
        .title{
            font-size: 2.5rem;
        }
    }
    @media all and (max-width: 576px){
        .title{
            font-size: 2rem;
        }
    }
}
.zonas{
    &_contenedor{
	    width: 40%;
	    display: inline-block;
    }
    &_title{
    	font-size: 35px;
    	font-weight: 700;
    	color: white;
    }
    &_desc{
    	color: #BFC9CA;
    	font-size: 30px;
    }
}
.hi{
	justify-content: center;
	padding: 0px 2rem;
    @media all and (max-width: 992px){
        padding: 0px;
    }
}
#ZonasCarousel{
	margin-top: 3rem;
    .carousel-indicators{
	    margin-bottom: -4rem;
    }
    @media all and (max-width: 992px){
        .hero_title{
            font-size: 1.5rem;
        }
        .hero_desc{
            font-size: 1.2rem;
        }
    }
    @media all and (max-width: 576px){
        margin-top: 1rem;
        .flex-row{
            flex-direction: column!important;
        }
        .justify-content-center{
            align-items: center;
        }
        .col-5{
            width: 93%;
        }
        .hero_title{
            font-size: 1.1rem;
        }
        .hero_desc{
            font-size: 0.9rem;
        }
    }
}
/*un poco de dragonriding*/
.hero{
	width: 100%;
	height: 25vh;
    &_contenedor{
	display: inline-block;
	width: 24%;
	max-height: 100%;
    }
    &_title{
    	display: block;
    	font-size: 2rem;
    	font-weight: 700;
    	color: white;
    	text-align: center;
    }
    &_desc{
	    font-size: 20px;
	    color: #BFC9CA;
	    display: block;
	    text-align: center;
    }
    

}
/* pagina gameplay */

.imagenDeFondo4{
    @include imagenDeFondo(url(../assets/gameplayback2.jpg));
	display: grid;
	grid-auto-columns: 1fr; 
  	grid-template-columns: 1fr 1fr 1fr; 
  	grid-template-rows: 0.3fr 0.3fr 2.4fr;
  	gap: 0px 0px; 
  	grid-template-areas: 
    "title title title"
    "semiTitle semiTitle semiTitle"
    "gameplay gameplay gameplay"; 
    @media all and (max-width: 992px){
        height: auto;
    }
    @media all and (max-width: 576px){
        height: 120vh;
    }
    .ptitle{
	    font-size: 4.5rem;
        @media all and (max-width: 1400px){
            font-size: 3.38rem;
        }
        @media all and (max-width: 992px){
            font-size: 1.9rem;
        }
        @media all and (max-width: 576px){
            font-size: 1.2rem;
        }
    }
}
.semiTitleGrid{
	grid-area: semiTitle;
}
.gameplay{
	width: 100%;
	max-height: 100%;
	grid-area: gameplay;
	display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 1.5rem;
    .gameplay_desc a{
        color: #b4df2f;
        &:hover{
            color: #fffc00;
            text-decoration: none;
        }
    }
    @media all and (max-width: 1400px){
        padding-top: 0.5rem;
    }
    @media all and (max-width: 992px){
        padding-top: 0.3rem;
		flex-wrap: wrap;
    }
    &_contenedor{
        display: inline-block;
        width: 30%;
        height: 90%;
        max-height: 100%;
        border: solid;
        background-image: url(../assets/gameplayback.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media all and (max-width: 1400px){
            height: 95%;
        }
        @media all and (max-width: 992px){
            height: 52%;
		    width: 45%;
        }
        @media all and (max-width: 576px){
            height: 48%;
		    width: 46%;
        }
    }
    &_title{
        display: block;
        font-size: 2.1rem;
        font-weight: 700;
        color: white;
        text-align: center;
        margin: 1rem 0px;
        @media all and (max-width: 1400px){
            font-size: 1.55rem;
		    margin: 0.2rem 0px;
        }
        @media all and (max-width: 992px){
            font-size: 1.3rem;
		    margin: 0.2rem 0px;
        }
        @media all and (max-width: 576px){
            font-size: 1rem;
		    margin: 0px 0px;
        }
    }
    &_desc{
        font-size: 1.55rem;
        color: #BFC9CA;
        text-align: center;
        @media all and (max-width: 1400px){
            font-size: 1.25rem;
        }
        @media all and (max-width: 992px){
            font-size: 1rem;
        }
        @media all and (max-width: 576px){
            font-size: 0.8rem;
        }
    }
    &_img{
        display: block;
        width: 100%;
        max-height: 45%;
        border-bottom: solid;
        @media all and (max-width: 992px){
            max-height: 55%;
        }
    }
}
.textGris{
	color: #BFC9CA;
}
/* pagina de dragonriding */
.imagenDeFondo3{
    @include imagenDeFondo(url(../assets/dragones.jpg));
    height: auto;
    @media all and (max-width: 576px){
        height: 145%;
    }
    p{
        margin-bottom: 0px;
    }
    .hero{
        @media all and (max-width: 576px){
            flex-wrap: wrap;
        }
        &_desc{
            color: rgb(27, 38, 49);
            @media all and (max-width: 1400px){
                font-size: 1rem;
            }
            @media all and (max-width: 992px){
                font-size: 0.8rem;
            }
            
        }
        &_title{
            @media all and (max-width: 1400px){
                font-size: 1.6rem;
            }
            @media all and (max-width: 992px){
                font-size: 1.4rem;
            }
        }
        &_contenedor{
            @media all and (max-width: 1400px){
                width: 25%;
            }
            @media all and (max-width: 992px){
                width: 32%;
            }
            @media all and (max-width: 576px){
                width: 49%;
            }
        }
    }
}
#dragonridingCarousel{
    video{
        height: 60vh;
	    max-width: 100%;
    }
    .carousel-indicators{
        top: 0;
    }
}